<% if(books.length === 0) { %>
    No matching book found.
<% } else { %>
    <table class="book-list">
        <div>Book List</div>
        <tr>
            <th>Accession Number</th>
            <th>Title</th>
            <th>Author</th>
            <th>Class No</th>
            <th>Publisher</th>
            <th>Shelf</th>
            <th>Row</th>
            <% if(loggedIn) { %>
                <th colspan="2">Update Book</th>
            <% } %>
        </tr>
        <% books.forEach(function(book) { %>
            <% if (book) { %>
                <tr>
                    <td> <%= book.accID %> </td>
                    <td> <%= book.description?.title %> </td>
                    <td> <%= book.description?.author %> </td>
                    <td> <%= book.description?.class %> </td>
                    <td> <%= book.description?.publisher %> </td>
                    <td> 
                        <a href="/shelf/get?shelfID=<%= book.shelf?.accID %>">
                            <%= book.shelf?.accID + " - " + book.shelf?.name %>
                        </a> 
                    </td>
                    <td> <%= book.row %> </td>
                    <% if(loggedIn) { %>
                        <td><a href="/book/update?accID=<%= book.accID %>">Update Book</a></div>
                        <td><a href="/book/delete?accID=<%= book.accID %>">Delete Book</a></div>
                    <% } %>
                </tr>
            <% } else { %>
                No matching book found.
            <% } %>
        <% }) %>
<% } %>
