<% if(shelves.length === 0) { %>
    No matching shelf found.
<% } %>
<% shelves.forEach(function(shelf) { %>
    <% if (shelf) { %>
        <div class="shelf">
            <% if(loggedIn) { %>
                <div class="update"><a href="/shelf/update?shelfID=<%= shelf.accID %>">Update Shelf</a></div>
                <div class="delete"><a href="/shelf/delete?shelfID=<%= shelf.accID %>">Delete Shelf</a></div>
            <% } %>
            <div class="name"><label>Name: </label><%= shelf.name %></div>
            <div class="shelfid"><label>Id: </label><%= shelf._id %></div>
            <div class="books">
                <table class="book-list">
                    <label> Book List </label>
                    <tr>
                        <th>Accession No.</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Row</th>
                    </tr>
                    <% shelf.books.forEach(function(book) { %>
                        <tr>
                            <td> <%= book.accID %> </td>
                            <td> <%= book.description?.title %> </td>
                            <td> <%= book.description?.author %> </td>
                            <td> <%= book.row %> </td>
                        </tr>
                    <% }) %>
                </table>
            </div>
        </div>
    <% } else { %>
        No matching shelf found.
    <% } %>
<% }) %>